<div class="container contactoC ">
<center>  <%= image_tag 'TrabajandoI.jpg', :alt => "Sitio en contrucion", :align => "middle" %></center>
  <h1 class="contacto1">Apartado en proceso. LACartoons en etapa beta</h1>

</div>